<%- include('bootheader') -%>

<div class="bg-light" >
    <div class="jumbotron">
        <h1>Employees</h1>
        <h3> Employee information
         </h3>
    </div>
    <form method="post" action="/employees">
      <input type="text" name="name" size="100"> Name <br>
      <input type="text" name="schoolGrauatedFrom" size="100"> School graduate from<br>
      <input type="text" name="linkdinLink" size="100"> Linkdin Link<br>
      <input type="text" name="picture" size="100"> Picture<br>
      <input type="number" name="yearGraduated" size="100"> Enter the year you graduated<br>
      <input type="submit" value="press when pomodoro is completed (about 30 minutes)">
    </form>
    <div class="col bg-danger">
        <% employees.forEach(employee => { %>
          <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="<%= employee.name%>"></button>
              </div>
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img src="<%= employee.picture%>" class="d-block w-100" alt="<%= employee.name%>">
                          </div>

                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                      </div>
                      <br>
                      <br>
                    <h1> Additonial inforation </h1>
                      Graduated From:  <%= employee.schoolGrauatedFrom%>
                      Linkdin Link: <a href="<%= employee.schoolGrauatedFrom%>" >
                   <%= employee.schoolGrauatedFrom%></a>
                    Year Graduate:Graduated From:  <%= employee.yearGraduated%>
                    <% if (loggedIn && !user.isEmployee) { %>
                      <%= user.googlename  %> sign up as an employer or employee
                      <form method="post" action="/matchWith" class="bg-info">
                        Would you like to match with this employee<br>
                              Employer <input type="radio" name="matchWith" value="yes"><br>
                              Employee <input type="radio" name="matchWith" value="no"><br>
                              <input type="hidden" name="employeeId" value="<%= employee._id%>"><br>
                                <input type="submit" value="Submit">
                      </form>
                      <% } %>

                  <% }) %>
                </div>






<%- include('bootfooter') -%>
