<%- include('bootheader') -%>
<div class="bg-light" >
  <div class="jumbotron">

    <h2>List of all employers  </h2>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Delete</th><th>_ID</th>
          <th>Employer Name</th> <th>Email</th> <th>Company Name</th>
          <th>Positions Looking For</th><th>Salary Estimate($)</th>
          <th>Potential Employees Emails</th> <th> Potential Employees Ids </th>
        </tr>
      </thead>
      <tbody>
    <% for(let i=0; i<employersNew.length; i++){
        employerNew = employersNew[i]
        console.log(`i=${i} document=${employerNew}`)
    %>
      <tr>
        <td><a href="/employerNewremove/<%= employerNew._id %>"> X </a></td>
        <td><%= employerNew._id %></td>
        <td><%= employerNew.employerName %></td>
        <td> <a href="mailto:<%= employerNew.employerEmail%>"> <%= employerNew.employerEmail%> </a> </td>
        <td> <!-- click on company Name to get company's logo  -->
          <a href="<%=employerNew.companyWebsiteLink%>">
            <%= employerNew.companyName %>
          </a>
        </td>
        <td>
            <%= employerNew.positionLookingFor %>
        </td>
        <td>
            <%= employerNew.salaryEstimate %>
        </td>
        <td>
            <%= employerNew.EmployeeMatchesEmails %>
        </td>
        <td>
            <%= employerNew.EmployeeMatches %>
        </td>
      </tr>
    <%}%>
    </tbody>
    </table>

    <hr>

    <a href="/">Add another piece of information</a><br>
    <a href="/employeesNew">Check Employees Info</a>

    <div class="bg-light" >
        <div class="jumbotron">
            <h1>Major Employeer information</h1>
            <h3> Employee information
             </h3>
        </div>



<br>
<%- include('bootfooter') -%>
