<%- include('bootheader') -%>

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown button
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
  </div>
</div>
<div class="bg-light" >
  <div class="jumbotron">

    <h2>List of all employers  </h2>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Delete</th><th>_ID</th>
          <th>EmployerName</th><th>CompanyName</th>
          <th>Positions LookingFor</th><th>Salary Estimate($)</th>
          <th>Potential Employees</th>
        </tr>
      </thead>
      <tbody>
    <% for(let i=0; i<employersNew.length; i++){
        employerNew = employersNew[i]
        console.log(`i=${i} document=${employerNew}`)
    %>
      <tr>
        <td><a href="/employerNewremove/<%= employerNew._id %>"> X </a></td>
        <td><%= employerNew._id %></td>
        <td><%= employerNew.employerName %></td>
        <td> <!-- click on company Name to get company's logo  -->
          <a href="<%=employerNew.companyWebsiteLink%>">
            <%= employerNew.companyName %>
          </a>
        </td>
        <td>
            <%= employerNew.positionLookingFor %>
        </td>
        <td>
            <%= employerNew.salaryEstimate %>
        </td>
        <td>
            <%= employerNew.EmployeeMatches %>


        </td>
      </tr>
    <%}%>
    </tbody>
    </table>

    <hr>

    <a href="/">Add another piece of information</a><br>
    <a href="/employeesNew">Check Employees Info</a>

    <div class="bg-light" >
        <div class="jumbotron">
            <h1>Major Employeer information</h1>
            <h3> Employee information
             </h3>``
        </div>

        <% for(let i=0; i<employersNew.length; i++){
            employerNew = employersNew[i] %>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Company Websites
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <a class="dropdown-item" href="<%= employerNew.companyWebsiteLink%>"> Hello</a>
                  Test test test
                </div>
                <br>
            <%  } %>
            </div>

<br>
<%- include('bootfooter') -%>
