<%- include('bootheader') -%>

<div class="bg-light" >
  <div class="jumbotron">

    <h2>List of all employees  </h2>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Delete</th> <th>_ID</th>
          <th>EmployeeName</th><th>SchoolGraduatedFrom</th><th>LinkdinLink</th>
          <th>Email</th>
          <th>Desired Position</th><th>Graduation Year</th><th>Skills</th>
          <th>Potential Employers</th><th> Tester> </th>
        </tr>
      </thead>
      <tbody>
    <% for(let i=0; i<employeesNew.length; i++){
        employeeNew = employeesNew[i]
        console.log(`i=${i} document=${employeeNew}`)
    %>
      <tr>
        <td><a href="/employeeNewremove/<%= employeeNew._id %>"> X </a></td>
        <td><%= employeeNew._id %></td>
        <td> <!-- click on employeeName to get employee's picture  -->
          <a href="<%=employeeNew.picture%>">
            <%= employeeNew.employeeName %>
          </a>
        </td>
        <td><%= employeeNew.schoolGraduatedFrom %></td>
        <td>
            <%= employeeNew.linkdinLink %>
        </td>
        <td>
            <%= employeeNew.employeeEmail %>
        </td>
        <td>
            <%= employeeNew.desiredPosition %>
        </td>
        <td>
            <%= employeeNew.yearGraduated %>
        </td>
        <td>
            <%= employeeNew.skills %>
        </td>
        <td>
           <%= employeeNew.EmployerMatches %>

        </td>
        <td>
           <%= employeeNew.employerEmail%>   

        </td>
        <td>

       </td>
      </tr>
    <%}%>
    </tbody>
    </table>

    <hr>

    <a href="/">Add another piece of information</a> <br>
    <a href="/employersNew">Check Employers Info</a>

   <br>
   <br>
   <br>


 </div>
</div>




<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
   <div class="carousel-indicators">
     <% if (employeesNew.length >0) { %>
       <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
     <% } %>

     <% for(let i=1; i<employeesNew.length; i++) { %>
       <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="<%=i%>" aria-label="Slide <%=i+1%>"></button>
     <% } %>

   </div>
   <div class="carousel-inner">

     <% if (employeesNew.length >0) { %>
       <div class="carousel-item active">
         <img src="<%=employeesNew[0].picture%>" class="d-block w-100" alt="...">
       </div>
     <% } %>


     <% for(let i=1; i<employeesNew.length; i++) { %>
       <div class="carousel-item">
         <img src="<%=employeesNew[i].picture%>" class="d-block w-100" alt="...">
       </div>
     <% } %>

   </div>
   <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
     <span class="carousel-control-prev-icon" aria-hidden="true"></span>
     <span class="visually-hidden">Previous</span>
   </button>
   <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
     <span class="carousel-control-next-icon" aria-hidden="true"></span>
     <span class="visually-hidden">Next</span>
   </button>
 </div>




<%- include('bootfooter') -%>
