<%- include('bootheader') -%>

<div class="bg-light" >
    <div class="jumbotron"> <br>
        <h1> </h1>
        <h3> Swipper App </h3><br>

    </div>
</div>

  <!-- <form method="post" action="/tester" class="bg-danger">
    <input type="submit" value="Submit">
  </form> -->


<!-- <% if (loggedIn) { %> -->

   <!-- <% if (user.isEmployee == null) { %> -->
    <!-- <%= user.googlename  %> sign up as an employer or employee
    <form method="post" action="/employeeEmployeer" class="bg-info">
      Would you like to sign up as an employeer or employee?<br>
            Employer <input type="radio" name="isEmployee" value="false"><br>
            Employee <input type="radio" name="isEmployee" value="true"><br>
              <input type="submit" value="Submit">
    </form> -->
  <!-- <% }   %> -->
<!-- <% } %> -->

<% if (loggedIn) {%>
   <h5>
      Welcome <%=user.googlename %>!
   </h5>
   Please add employer or employee info
   <form method="post" action="/employeeEmployeer" class="bg-info">
    Would you like to sign up as an employeer or employee?<br>
          Employer <input type="radio" name="isEmployee" value="false"><br>
          Employee <input type="radio" name="isEmployee" value="true"><br>
            <input type="submit" value="Submit">
  </form>

  <% } %>
<br>
<br>
<br>

  <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Welcome</h5>
    <h6 class="card-subtitle mb-2 text-muted">to employee finder</h6>
    <p class="card-text">We help employees and employers find each other</p>
    <a href="/about" class="card-link">More information about us</a>
  </div>
</div>


<!-- <% if (loggedIn && user.isEmployee != null) { %>

   <% if (user.isEmployee) { %>
    <%= user.googlename  %> Fill out your employee information:
         <a class="nav-link" href="/employees" > Employee Info </a>
  <% }   %>

  <% if (!user.isEmployee) { %>
   <%= user.googlename  %> Fill out your employee information:
        <a class="nav-link" href="/employerRouter" > Employer Info </a>
 <% }   %> -->

<% } %>
